/* Pagina error*/
#errorPag {
    background-image: url(../img/pagina-error.webp);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
    height: 84dvh; 
    width: 100%;
    color: #ffffff;
}